@import url(./global.css);
.container {
  background-image: url(../util/image/hero-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.content {
  background-color: #2f2f2f9b;
  width: 20rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 1rem;
}
.input input {
  outline: none;
  width: 100%;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #80808000;
  margin-top: 1rem;
  background-color: none;
}
.input button {
  font-family: "poppins-bold";
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #368d36;
}
.input button:hover {
  transition: 0.3s;
  background-color: #0c640c;
}
.cw {
  color: #ffffff;
}
select {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
